
.app { max-width: 1180px; margin: 0 auto; padding: 0 2.5rem; } 
.app__mainPage { display: flex;}
.app__subPage { display: flex;  }

@media (max-width: 700px) {
    .app__mainPage {  flex-direction: column; }
    .app__subPage { flex-direction: column; }
}

@media (max-width: 450px) {
    .app { max-width: 1350px; padding: 0 0.8rem; }
}
@media (max-width: 600px) {
    .rec-arrow-left { min-width: 30px !important; width: 30px !important; height: 50px !important; padding: 0; font-size: 1.2em !important; }
    .rec-arrow-right { min-width: 30px !important; width: 30px !important; height: 50px !important; padding: 0; font-size: 1.2em !important; }
}