.sidebar__library { flex: 0.3; position: relative;  z-index: 200;  transition: all 0.3s; display: block; }
.btn-sidebar-privacy {  background: #62ce3d ; border: none; outline: none; font-size: 18px; color: #fff; padding: 15px 40px; margin-top: 15px; }

@media (max-width: 700px) {
    .list--sidebar h1 { font-size: 22px; margin-bottom: 1rem; }
}